
#page-landing {
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    color:  #ffffff;
    background: #8257e5;
  }

.container{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 33vh 33vh 33vh;
  margin-top: 10%;
}

.logo-container{
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    text-align: left;
    margin-left: 25%;
    font-size: 1.6rem;
}

.landing-description{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 60%;
    align-items: center;
    margin-top: -3% ;
    margin-left: 25%;
}
.buttons-container{
    grid-column-start: 1;
    grid-column-end: 2;
    
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left:10% ;
   
}

.buttons-container a {
    width: 17rem;
    height: 4.4rem;
    border-radius: 0.8rem;
    font: 400 1.2rem Archivo;
    margin-top: 1%;
  
    text-decoration: none;
    color: var(--color-button-text);
  
    transition: background-color 0.2s;
  }

  .buttons-container a:first-child {
    margin-right: 1.0rem;
  }

.hero-image {
    width: 85%;
    height: 70vh;
    margin-right: 30%;
    display: flex;
    justify-content: flex-start;

}

.buttons-container a img {
    width: 2rem;
    margin-top: 5%;
  }

  .buttons-container a.study {
    background: var(--color-primary-lighter);
  }
  
  .buttons-container a.give-classes {
    background: var(--color-secundary);
  }
  
  .buttons-container a.study:hover {
    background: var(--color-primary-light);
  }
  
  .buttons-container a.give-classes:hover {
    background: var(--color-secundary-dark);
  }


  :root {
    --color-background: #f0f0f7;
    --color-primary-lighter: #9871f5;
    --color-primary-light: #916bea;
    --color-primary: #8257e5;
    --color-primary-dark: #774dd6;
    --color-primary-darker: #6842c2;
    --color-secundary: #04d361;
    --color-secundary-dark: #04bf58;
    --color-title-in-primary: #ffffff;
    --color-text-in-primary: #d4c2ff;
    --color-text-title: #32264d;
    --color-text-complement: #9c98a6;
    --color-text-base: #6a6180;
    --color-line-in-white: #e6e6f0;
    --color-input-background: #f8f8fc;
    --color-button-text: #ffffff;
    --color-box-base: #ffffff;
    --color-box-footer: #fafafc;
  
  }



 