.header{
    display: flex;
    background: #8257e5;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.header a{
    text-decoration: none;
    color: #ffffff
}
.menu{
    display: flex;
}

.menu li{
    margin-left: 1%;
}

.menu li a{
    display: block;
    padding: 10px;
}